<header class="main-header">
  <div class="header-container">
    <div class="logo">
      <a href="/"><i class="fas fa-brain"></i> QuizMaster</a>
    </div>
    <nav class="main-nav">
      <ul>
        <li><a href="/" class="nav-link"><i class="fas fa-home"></i> Home</a></li>
        <li><a href="/leaderboard" class="nav-link"><i class="fas fa-trophy"></i> Leaderboard</a></li>
        <% if (user) { %>
          <div class="user-nav">
            <li class="user-info">
              <span><i class="fas fa-user-circle"></i> <%= user.username %></span>
            </li>
            <li>
              <a href="/auth/logout" class="nav-link logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
            </li>
          </div>
        <% } else { %>
          <li><a href="/auth/login" class="nav-link login"><i class="fas fa-sign-in-alt"></i> Login</a></li>
          <li><a href="/auth/register" class="nav-link register"><i class="fas fa-user-plus"></i> Register</a></li>
        <% } %>
      </ul>
    </nav>
  </div>
</header>